version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5001:5001"
    networks:
      - app-network

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:


# ubuntu@ip-10-0-24-216:~/mini-project$ cat docker-compose.yml 
# version: '3.8'

# services:
#   backend:
#     build: ./backend
#     ports:
#       - "5001:5001"
#     networks:
#       - app-network

#   frontend:
#     build: ./frontend
#     ports:
#       - "3000:3000"
#     depends_on:
#       - backend
#     networks:
#       - app-network
#     extra_hosts:
#       - "localhost:172.17.0.1"           

# networks:
#   app-network:
# ubuntu@ip-10-0-24-216:~/mini-project$   